
body {
  text-align: center;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

#wrapper{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}


footer {
  width:100%;
  bottom: 0; 
  margin-top: auto;
}

.btn-outline-primary:hover{
  color: white;
}

@media (max-width: 576px){
  .card-img-top{
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .project{
    width: 90%;
    height: 30vh;
  }
}

@media (min-width: 576px){
  .card-img-top{
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }

  .project{
    width: 90%;
    height: 45vh;
  }

  #login{
    width:60%;
  }
}


@media(min-width: 992px){
  .project{
    width: 90%;
    height: 35vh;
  }

  #signup{
    width: 60%;
  }

  #login{
    width:50%;
  }

  #project-container{
    width: 75%
  }
}


button.btn-link:hover{
  background-color: white;
}

button.btn-link:active{
  background-color: white;
}

a.active{
  text-decoration: underline;
}


#home-projects{
  width:100%;
  padding: 0;
  margin: 0;
}

.nav-button{
  height: 70%;
}




ul li svg.checklist-icon{
  display: none;
}

li.valid{
  color: rgb(83, 165, 81);
  font-size: smaller;
}

li.invalid{
  color: rgb(203,68,74);
  font-size:smaller;
}


.full-width-row{
  margin-left: calc((100vw - 100%) / -2) !important;
  padding-left: calc((100vw - 100%) / 2);
  margin-right: calc((100vw - 100%) / -2) !important;
  padding-right: calc((100vw - 100%) / 2);
}

#collection-select{
 background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23fbfbfb' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !important;
}


.home-card{
  width:90%;
}